body {
  background-color:#ffffff;
  text-align: center;
  font-family: 'Archivo', sans-serif;
}

.nav-wrapper {
  background-color: white;;
}

.nav-wrapper a {
  color: black;
}

h2 {
  font-size: 4em;
}

.landing-icon {
  margin: 0.7em 0.3em;
  color: black;
}

.landing-icon:hover {
  color: lightskyblue;
}

.skillbox p {
  margin: 0.1em 0;
  padding: 0;
  font-size: 0.8em;
}

.skillbox i {
  font-size: 3em;
}

.python-icon {
  color: #407db0;
}

.hoveredIcon {
  font-size: 1.2em;
}

.skillbox{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "";
}

.front-end, .back-end {
  margin: 0 auto;
}

.project-box {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 4em 4em 6em 10em;
  grid-template-areas: "preview-image danmaku-title"
                       "preview-image danmaku-buttons"
                       "preview-image danmaku-desc"
                       "preview-image danmaku-tech";
}

@media only screen and (max-width: 890px) {
  .project-box {
    display: inline-block;
  }
  .preview-image, .danmaku-title, .danmaku-buttons, .danmaku-desc, .danmaku-tech {
    margin-bottom: 1em;
  }
}

.preview-image {
  grid-area: preview-image;
}

.danmaku-title {
  grid-area: danmaku-title;
}

.danmaku-buttons {
  grid-area: danmaku-buttons;
}

.danmaku-desc {
  grid-area: danmaku-desc;
  padding: 0 3em;
}

.danmaku-tech {
  grid-area: danmaku-tech;
}

.project-box img {
  border-radius: 1em;
}

.project-box h4 {
  margin: 0;
}

.project-box li {
  display: inline-block;
  border: 1px solid black;
  background-color: rgb(77, 77, 77);
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 0.8em;
  color: white;
  margin-bottom: 1em;
}

.project-box ul {
  margin: 0;
  padding: 0;
}

.project-button {
  color: black;
  margin: 0 0.5em;
  border: 1px solid black;
  padding: .4em;
  border-radius: 0.2em;
  transition: all 0.3s ease; 
  display: inline-block;
}

.project-box span {
  display: inline-block;
  margin-bottom: 1em;
}

.project-box ul {
  display: inline-block;
  margin-top: 2em;
}

.project-button:hover {
  background-color: lightblue;
}

.punchcard-img {
  margin-left: 15em;
}

@media only screen and (max-width: 890px) {
  .punchcard-img {
    margin: 0 0 1em 0;
  }
  .project-box ul {
    margin: 0;
  }
}